<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" sizes="any" />
<link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/images/favicon/favicon-24x24.png" sizes="24x24">
<link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon/favicon-40x40.png" sizes="40x40">
<link rel="icon" type="image/png" href="/images/favicon/favicon-48x48.png" sizes="48x48">
<link rel="icon" type="image/png" href="/images/favicon/favicon-64x64.png" sizes="64x64">
<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/images/favicon/favicon-128x128.png" sizes="128x128">
<link rel="icon" type="image/png" href="/images/favicon/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/images/favicon/favicon-256x256.png" sizes="256x256">
<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico"/>
